.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.wrapper {
    padding: 3vw;
    width: 100%;
}

.display-flex {
    display: flex;
}

.sign-up {
    width: 50%;
    margin: auto;
    font-size: var(--text-size);
    padding: 2vw;
    color: var(--charcoal-grey);
    box-sizing: border-box;
}

.illustration-sign-up {
    width: 50%;
}

.illustration-sign-up-mobile {
    display: none;
}

@media only screen and (max-width: 375px) {
    .sign-up {
        width: 100%;
    }

    .illustration-sign-up {
        width: 0%;
    }

    .illustration-sign-up-mobile {
        display: block;
    }
}

.sign-up--header-text {
    margin-top: 0;
    font-size: 3.5em;
}

.sign-up--form {
    width: 90%;
}

.sign-up--form>button,
input {
    box-sizing: border-box;
}

.sign-up--form--input-field {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: var(--text-size);
    border-style: solid
}

.sign-up--form:invalid>label.invalid {
    visibility: visible;
}

.sign-up--form--input-field:valid {
    border-color: var(--grey);
}

.sign-up--form--input-field:invalid {
    border-color: var(--tomato);
    background-color: var(--light-tomato);
    color: var(--tomato);
}

.sign-up--form--submit-button {
    width: 100%;
    font-size: 1em;
    padding: var(--text-size);
    color: var(--white);
    background: var(--dark-slate-grey);
    border: none;
    cursor: pointer;
}

.sign-up--form--submit-button:hover {
    background: var(--tomato)
}

.sign-up--form--label {
    font-weight: bold;
    font-size: 0.75em;
}

.illustration-sign-up--img {
    width: 100%;
}