@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: 'Roboto';
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: white;
    --text-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.wrapper {
    padding: 3vw;
    display: flex;
}

.sign-up {
    float: left;
    width: 50%;
    margin: auto;
    font-size: var(--text-size);
    padding: 2vw;
    color: var(--charcoal-grey);
    box-sizing: border-box;
}

.illustration-sign-up {
    float: right;
    width: 50%;
}

.illustration-sign-up--img {
    width: 100%;
}

.sign-up--header-text {
    margin-top: 0;
    font-size: 3.5em;
}

.sign-up--form>button,
input {
    box-sizing: border-box;
}

.sign-up--form--input-field {
    display: block;
    width: 90%;
    font-size: 1em;
    padding: var(--text-size);
    border-color: var(--grey);
    border-style: solid
}

.sign-up--form--submit-button {
    width: 90%;
    font-size: 1em;
    padding: var(--text-size);
    color: var(--white);
    background: var(--dark-slate-grey);
    border: none;
    cursor: pointer;
}

.sign-up--form--submit-button:hover {
    background: var(--tomato)
}

.sign-up--form--label {
    font-weight: bold;
    font-size: 0.75em;
}

.icon-list {
    background: url(../assets/images/icon-list.svg);
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: calc(2*var(--text-size));
    width: calc(2*var(--text-size));
}

.mb-1 {
    margin-bottom: var(--text-size);
}

.mr-1 {
    margin-right: var(--text-size);
}

.curvy {
    border-radius: 1vw;
}